<!DOCTYPE html>
<html>
<head>
    <title>Totally Real Shop</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Oxygen&family=Yellowtail&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <!-- Welcome Page -->
        <div v-if="page == 'welcome'" id="welcome-page">
            <h1>Welcome To My Totally Real Shop!</h1>
            <button v-on:click="showShop">Enter</button>
        </div>

        <!-- Store Page -->
        <div v-else-if="page == 'shop'" id="store-page">
            <div class="top-bar">
                <h2>Totally Real Shop</h2>
                <button id="cart-button" v-on:click="showCart">Cart</button>
            </div>
            <div class="shop-container">
                <thing v-for="(product, index) in productList" v-bind:item="product" v-bind:cart="cart" v-bind:key="index" v-bind:page="page"></thing>
            </div>
        </div>

        <!-- Cart Page -->
        <div v-else-if="page == 'cart'" id="cart-page">
            <div class="top-bar">
                <button class="checkout-buttons" v-on:click="showShop">Continue Shopping</button>
                <button class="checkout-buttons">Checkout</button>
            </div>
            <div class="shop-container">
                <thing v-for="(product, index) in cart" v-bind:item="product" v-bind:cart="cart" v-bind:key="index" v-bind:page="page"></thing>
            </div>
        </div>
    </div>  
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>