#app {
    background-color: rgb(63, 60, 78);
}
.item {
    padding: 10px;
    margin: 10px;
    max-width: 500px;
    background-color: rgb(193, 193, 193);
    text-align: center;
}

#shop-container {
    display: grid;
    grid-template-columns: 28vw 28vw 28vw;
    justify-content: center;
}
#top-bar {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
h2 {
    color: white;
}